<form id="message_form" autocomplete="off">
  <label for="attach">
    <img src="{{attachImg}}" alt="attach">
  </label>
  <input id="attach" type="file" name="message_file">
  {{{MessageField}}}
  {{{SubmitButton}}}
</form>
