{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb/base",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": ["error", "never"],
    "linebreak-style": "off",
    "no-plusplus": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/no-unresolved": "off",
    "max-len": "off",
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    "lines-between-class-members": "off",
    "prefer-promise-reject-errors": "off",
    "no-use-before-define": "off",
    "class-methods-use-this": "off",
    "no-param-reassign": "off",
    "guard-for-in": "off",
    "no-restricted-syntax": "off",
    "max-classes-per-file": "off",
    "no-constructor-return": "off",
    "no-shadow": "off",
    "no-prototype-builtins": "off",
    "no-continue": "off",
    "import/prefer-default-export": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-this-alias": "off"
  }
}
