<div class="error-content">
  <h1 class="error-content__title">{{title}}</h1>
  <p class="error-content__description">{{description}}</p>
  <a href="#" class="error-content__backlink">Назад к чатам</a>
</div>
