<form class="modal__form">
  <label for="avatar" class="description">Выбрать файл на компьютере</label>
  <input class="avatar_hidden" type="file" name="avatar" id="avatar">
  <button type="submit" class="submit-button">Поменять</button>
</form>
