<form class="modal__form">
  <label for="avatar" class="description">Выбрать файл на компьютере</label>
  <input class="avatar_hidden" type="file" name="avatar" id="avatar">
  <div class="modal__buttons">
    <button type="submit" class="button-confirm" id="modalEditAvatar">Поменять</button>
  </div>
</form>
