<div class="profile-content__table">
  <div class="row">
    <span class="field-name">Почта</span>
    <span class="field-value">pochta@yandex.ru</span>
  </div>
  <div class="row">
    <span class="field-name">Логин</span>
    <span class="field-value">ivanivanov</span>
  </div>
  <div class="row">
    <span class="field-name">Имя</span>
    <span class="field-value">Иван</span>
  </div>
  <div class="row">
    <span class="field-name">Фамилия</span>
    <span class="field-value">Иванов</span>
  </div>
  <div class="row">
    <span class="field-name">Имя в чате</span>
    <span class="field-value">Иван</span>
  </div>
  <div class="row">
    <span class="field-name">Телефон</span>
    <span class="field-value">+7 (999) 111-11-11</span>
  </div>
</div>
