<h1>Верстка</h1>
<nav>
  <ol>
    <li><a href="../../templates/auth.hbs">Авторизация</a></li>
    <li><a href="../../templates/register.hbs">Регистрация</a></li>
    <li><a href="../../templates/chats.hbs">Список чатов</a></li>
    <li><a href="../../templates/profile.hbs">Профиль</a></li>
    <li><a href="../../templates/profile-edit.hbs">Профиль (редактирование)</a></li>
    <li><a href="../../templates/profile-password-edit.hbs">Профиль (редактирование пароля)</a></li>
    <li><a href="../../templates/profile-avatar-edit.hbs">Профиль (редактирование аватара)</a></li>
    <li><a href="../../templates/404.hbs">Ошибка 404</a></li>
    <li><a href="../../templates/500.hbs">Ошибка 500</a></li>
  </ol>
</nav>
