<div class="profile-content">
  <div class="profile-content__sidebar">
    <a href="#">
      <img src="{{backImg}}" alt="back">
    </a>
  </div>
  <div class="profile-content__avatar">
    <a href="#">
      <img src="{{avatarImg}}" alt="empty avatar">
      <span>Поменять аватар</span>
    </a>
  </div>
  <h1 class="profile-content__title">Иван</h1>
  <form class="profile-content__table">
    <div class="row">
      <span class="field-name">Почта</span>
      <input class="field-value" name="email" type="email" value="pochta@yandex.ru">
    </div>
    <div class="row">
      <span class="field-name">Логин</span>
      <input class="field-value" name="login" type="text" value="ivanivanov">
    </div>
    <div class="row">
      <span class="field-name">Имя</span>
      <input class="field-value" name="first_name" type="text" value="Иван">
    </div>
    <div class="row">
      <span class="field-name">Фамилия</span>
      <input class="field-value" name="second_name" type="text" value="Иванов">
    </div>
    <div class="row">
      <span class="field-name">Имя в чате</span>
      <input class="field-value" name="display_name" type="text" value="Иван">
    </div>
    <div class="row">
      <span class="field-name">Телефон</span>
      <input class="field-value" name="phone" type="text" value="+7 (999) 111-11-11">
    </div>
  </form>
  <div class="profile-content__buttons">
    <a class="profile-content__save-button" href="#">Сохранить</a>
  </div>
</div>
