<div class="modal-avatar">
  <div class="overlay"></div>
  <div class="modal-container" id="modalEditAvatar">
    <div class="modal">
      <h3 class="modal__title">Загрузите файл</h3>
      <form class="modal__form">
        <label for="avatar" class="description">Выбрать файл на компьютере</label>
        <input class="avatar_hidden" type="file" name="avatar" id="avatar">
      </form>
      <div class="modal__buttons">
        <a class="button-confirm" id="modalEditAvatar">Поменять</a>
      </div>
    </div>
  </div>
</div>
