<div class="modal-avatar">
  <div class="overlay"></div>
  <div class="modal-container" id="modalEditAvatar">
    <div class="modal">
      <h3 class="modal__title">Загрузите файл</h3>
      {{{avatarForm}}}
    </div>
  </div>
</div>
