<div class="profile-content">
  <div class="profile-content__sidebar">
    <a href="#">
      <img src="{{backImg}}" alt="back">
    </a>
  </div>
  <div class="profile-content__avatar">
    <a href="#">
      <img src="{{avatarImg}}" alt="empty avatar">
      <span>Поменять аватар</span>
    </a>
  </div>
  <h1 class="profile-content__title">Иван</h1>
  <form class="profile-content__table">
    <div class="row">
      <span class="field-name">Старый пароль</span>
      <input class="field-value" name="oldPassword" type="password" value="111111111">
    </div>
    <div class="row">
      <span class="field-name">Новый пароль</span>
      <input class="field-value" name="newPassword" type="password" value="11111111111">
    </div>
    <div class="row">
      <span class="field-name">Повторите новый пароль</span>
      <input class="field-value" name="newPasswordConfirm" type="password" value="11111111111">
    </div>
  </form>
  <div class="profile-content__buttons">
    <a class="profile-content__save-button" href="#">Сохранить</a>
  </div>
</div>
