<div class="profile-content__avatar">
  <a>
    <img src="{{avatar}}" alt="avatar">
    <span>Поменять аватар</span>
  </a>
  {{#if editProfileAvatarModal}}
    {{{ModalAvatar}}}
  {{/if}}
</div>
