<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Error 500</title>
  <link rel="stylesheet" href="styles.scss">
</head>
<body>
<main class="container">
  <div class="error-content">
    <h1 class="error-content__title">500</h1>
    <p class="error-content__description">Мы уже чиним</p>
    <a href="index.hbs" class="error-content__backlink">Назад к чатам</a>
  </div>
</main>
</body>
</html>
