<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Chats page</title>
  <link rel="stylesheet" href="styles.scss">
</head>
<body>
<main class="container">
  <div class="chats-content">
    <p>Страница со списком чатов</p>
    <a href="index.hbs">Назад к списку страниц проекта</a>
  </div>
</main>
</body>
</html>
