<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Messenger</title>
  <link rel="stylesheet" href="styles.scss">
</head>
<body>
<div class="container">
  <div class="nav-content">
    <h1>Верстка</h1>
    <ol>
      <li><a href="auth.hbs">Авторизация</a></li>
      <li><a href="register.hbs">Регистрация</a></li>
      <li><a href="chats.hbs">Список чатов</a></li>
      <li><a href="404.hbs">Ошибка 404</a></li>
      <li><a href="500.hbs">Ошибка 500</a></li>
    </ol>
  </div>
</div>
</body>
</html>
