<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Profile edit</title>
  <link rel="stylesheet" href="styles.scss">
</head>
<body>
<main class="container">
  <div class="profile-content">
    <div class="profile-content__sidebar">
      <a href="index.hbs">
        <img src="../static/profile-back.svg" alt="back">
      </a>
    </div>
    <div class="profile-content__avatar">
      <a href="profile-avatar-edit.hbs">
        <img src="../static/no-avatar.png" alt="empty avatar">
        <span>Поменять аватар</span>
      </a>
    </div>
    <h1 class="profile-content__title">Иван</h1>
    <form class="profile-content__table">
      <div class="row">
        <span class="field-name">Почта</span>
        <input class="field-value" name="email" type="email" value="pochta@yandex.ru">
      </div>
      <div class="row">
        <span class="field-name">Логин</span>
        <input class="field-value" name="login" type="text" value="ivanivanov">
      </div>
      <div class="row">
        <span class="field-name">Имя</span>
        <input class="field-value" name="first_name" type="text" value="Иван">
      </div>
      <div class="row">
        <span class="field-name">Фамилия</span>
        <input class="field-value" name="second_name" type="text" value="Иванов">
      </div>
      <div class="row">
        <span class="field-name">Имя в чате</span>
        <input class="field-value" name="display_name" type="text" value="Иван">
      </div>
      <div class="row">
        <span class="field-name">Телефон</span>
        <input class="field-value" name="phone" type="text" value="+7 (999) 111-11-11">
      </div>
    </form>
    <div class="profile-content__buttons">
      <a class="profile-content__save-button" href="profile.hbs">Сохранить</a>
    </div>
  </div>
</main>
</body>
</html>
