<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Profile password edit</title>
  <link rel="stylesheet" href="styles.scss">
</head>
<body>
<main class="container">
  <div class="profile-content">
    <div class="profile-content__sidebar">
      <a href="index.hbs">
        <img src="../static/profile-back.svg" alt="back">
      </a>
    </div>
    <div class="profile-content__avatar">
      <a href="profile-avatar-edit.hbs">
        <img src="../static/no-avatar.png" alt="empty avatar">
        <span>Поменять аватар</span>
      </a>
    </div>
    <h1 class="profile-content__title">Иван</h1>
    <form class="profile-content__table">
      <div class="row">
        <span class="field-name">Старый пароль</span>
        <input class="field-value" name="oldPassword" type="password" value="111111111">
      </div>
      <div class="row">
        <span class="field-name">Новый пароль</span>
        <input class="field-value" name="newPassword" type="password" value="11111111111">
      </div>
      <div class="row">
        <span class="field-name">Повторите новый пароль</span>
        <input class="field-value" name="newPasswordConfirm" type="password" value="11111111111">
      </div>
    </form>
    <div class="profile-content__buttons">
      <a class="profile-content__save-button" href="profile.hbs">Сохранить</a>
    </div>
  </div>
</main>
</body>
</html>
