@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

$fontFamily: 'Ubuntu', sans-serif;
$mainColor: #3369F3;
$mainBgColor: #FFF;
$overlayBgColor: #000;
$greyTextColor: #999;
$textColor: #1E1E1E;
$errorColor: #FF2F2F;
$logoutColor: #F00;
$buttonTextColor: #FFF;
$sidebarBgColor: #FBFBFB;
$overlayTextColor: #FFF;
$bordersColor: #EAEAEA;
$searchBgColor: #EFEFEF;
$activeChatBgColor: #E4EDFD;
$messageBgColor: #F8F8F8;

* {
  font-family: $fontFamily;
  color: $textColor;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}


ul {
  list-style: none;
  padding: 0;
}


body {
  margin: 0;
  padding: 0;
}

.container {
  background: $mainBgColor;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .4;
  background: $overlayBgColor;
  z-index: 2;
}

.modal-container {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.auth-content {
  position: relative;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
  }

  &__form {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;

    .field {
      position: relative;
      margin-bottom: 22px;
    }

    label {
      display: block;
      font-size: 14px;
      font-weight: 500;
      color: $greyTextColor;
      position: absolute;
      top: 0;
      transition: 0.2s;
    }

    input {
      display: block;
      width: 100%;
      border: 0;
      border-bottom: 1px solid $mainColor;
      outline: none;
      padding: 7px 0;

      &:focus + label, &:not(:placeholder-shown) + label {
        top: - 10px;
        font-size: 12px;
      }
    }

    span {
      display: block;
      margin-top: 10px;
      margin-bottom: -6px;
      left: 0;
      color: $errorColor;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__buttons {
    width: 280px;
    margin: 50px 0 30px;

    a, button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      font-size: 14px;
      transition: 0.2s;
      border: none;

      &:hover {
        cursor: pointer;
      }

      &.button-auth {
        background: $mainColor;
        border-radius: 8px;
        height: 37px;
        color: $buttonTextColor;
        font-weight: 500;

        &:hover {
          opacity: 0.8;
        }
      }

      &.button-register {
        color: $mainColor;
        font-weight: 500;
        margin-top: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }
}

.error-content {
  text-align: center;

  &__title {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  &__description {
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
  }

  &__backlink {
    display: block;
    font-size: 14px;
    margin-top: 40px;
    font-weight: 500;
    color: $mainColor;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-content {
  ol {
    padding-left: 20px;
  }

  a {
    display: block;
    color: $mainColor;
    margin-bottom: 10px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-content {
  &__sidebar {
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: $sidebarBgColor;
    border-right: 1px solid $bordersColor;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.8;
    }

    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 42px;
        height: 42px;
      }
    }
  }

  &__avatar {
    text-align: center;

    a {
      display: inline-block;
      border-radius: 50%;
      overflow: hidden;
      line-height: 0;
      position: relative;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
        background: #000;
        opacity: 0;
        color: $overlayTextColor;
        font-size: 12px;
        transition: 0.3s;
      }

      &:hover span {
        opacity: 0.5;
      }
    }
  }

  &__title {
    margin-top: 14px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
  }

  &__table {
    width: 510px;
    margin-top: 50px;

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      border-bottom: 1px solid $bordersColor;
      padding: 10px 0;
      font-size: 14px;
      font-weight: 500;

      .field-value {
        color: #999;
        border: none;
        outline: none;
        font-weight: 500;
        text-align: right;
        width: 50%;
      }

      .error {
        font-size: 12px;
        font-weight: 400;
        margin-top: 4px;
        color: $errorColor;
        width: 100%;
        text-align: right;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__buttons {
    margin-top: 50px;
  }

  &__link {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid $bordersColor;
    color: $mainColor;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }

    &_red {
      border-bottom: none;
      color: $logoutColor;
    }
  }

  &__save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 37px;
    color: $buttonTextColor;
    background: $mainColor;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    transition: 0.2s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.modal {
  position: relative;
  width: 340px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  background: $mainBgColor;

  .avatar_hidden {
    display: none;
  }

  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 50px;
    text-align: center;
  }

  &__form {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;

    .description {
      display: block;
      color: $mainColor;
      text-align: center;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__buttons {
    width: 280px;
    margin: 50px 0 30px;

    a, button {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      font-size: 14px;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
      }

      &.button-confirm {
        background: $mainColor;
        border-radius: 8px;
        height: 37px;
        color: $buttonTextColor;
        font-weight: 500;

        &:hover {
          opacity: 0.8;
        }
      }

      &.button-register {
        color: $mainColor;
        font-weight: 500;
        margin-top: 14px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }
}

.chats-content {
  width: 100%;
  height: 100vh;

  &__sidebar {
    position: fixed;
    width: 350px;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 0;
    box-sizing: border-box;
    background: $sidebarBgColor;
    border-right: 1px solid $bordersColor;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $greyTextColor;
    }

    @media (max-width: 700px) {
      width: 100%;
    }

    .sidebar-header {
      padding: 0 14px;
    }

    .profile-link {
      display: flex;
      justify-content: flex-end;
      color: $greyTextColor;
      margin-top: 20px;
      font-size: 14px;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }

      &::after {
        content: url('../static/arrow-right.svg');
        margin-left: 7px;
      }
    }

    .search-input {
      width: 100%;
      height: 32px;
      margin-top: 20px;
      border: none;
      outline: none;
      box-shadow: 0 0 0 0 $mainColor;
      border-radius: 5px;
      text-align: center;
      background: $searchBgColor;
      transition: 0.2s;

      &:focus {
        box-shadow: 0 0 0 2px $mainColor;
      }

      &::placeholder {
        background: url('../static/search-icon.svg') no-repeat 110px -2px;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .chats-list {
      margin-top: 14px;

      &__item {
        display: flex;
        justify-content: flex-start;
        border-top: 1px solid $bordersColor;
        padding: 14px;
        height: 54px;

        &:hover {
          cursor: pointer;
          background: $searchBgColor;
        }

        &.active {
          background: $activeChatBgColor;
        }

        img {
          border-radius: 50%;
          height: 54px;
          width: 54px;
          margin-right: 14px;
        }

        .group-left {
          h3 {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
          }

          p {
            font-size: 14px;
            font-weight: 500;
            color: $greyTextColor;
            margin: 6px 0 0;
          }
        }

        .group-right {
          margin-left: auto;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;

          .date-time {
            font-size: 12px;
            font-weight: 500;
            color: $greyTextColor
          }

          .unread-count {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            font-size: 12px;
            font-weight: 500;
            border-radius: 50%;
            background: $mainColor;
            color: $buttonTextColor;

            &.hide {
              display: none;
            }
          }
        }
      }
    }
  }

  &__main {
    margin-left: 350px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .chats-empty {
      color: $greyTextColor;
      font-weight: 500;
      font-size: 14px;
    }

    .chat {
      display: flex;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 20px;
      box-sizing: border-box;

      &__header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid $bordersColor;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }

        .chat__title {
          padding: 0;
          margin: 0 0 0 20px;
          width: 100%;

        }

        .chat__settings {
          position: relative;

          a#settings-button {
            display: flex;
            width: 30px;
            height: 30px;
            justify-content: center;
            transition: 0.2s;
            align-items: center;

            &:hover {
              border-radius: 50%;
              background: $searchBgColor;
            }

            img {
              width: 20px;
              height: 20px;
            }
          }

          .modal_chat {
            position: absolute;
            top: 60px;
            flex-direction: column;
            justify-content: center;
            right: 0;
            width: 200px;
            height: 100px;
            box-shadow: 0 0 6px rgb(0 0 0 / 14%);
            border-radius: 12px;
            display: flex;
            z-index: 3;
            background: $mainBgColor;

            a {
              display: block;
              font-size: 14px;
              padding: 10px 16px;
              font-weight: 500;

              &:hover {
                text-decoration: underline;
              }
            }
          }

        }

      }

      &__messages {
        overflow: auto;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 20px;
        box-sizing: border-box;

        &::-webkit-scrollbar {
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $greyTextColor;
        }

        .chat__day-block {
          width: 100%;
        }

        .chat__date {
          text-align: center;
          color: $greyTextColor;
          font-weight: 500;
          margin: 30px 0;
        }

        .message {
          position: relative;
          min-width: 140px;
          max-width: 500px;
          background: $messageBgColor;
          margin-top: 20px;
          border-radius: 0 12px 12px;
          padding: 14px;

          &.self {
            background: $activeChatBgColor;
            border-radius: 12px 12px 0;
          }

          &__text {
            font-weight: 500px;
          }

          &__time {
            position: absolute;
            bottom: 0;
            right: 10px;
            color: $mainColor;
            font-weight: 500;
            font-size: 10px;
            margin-bottom: 10px;
          }
        }

      }

      &__form form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-top: 1px solid $bordersColor;

        #attach {
          display: none;
        }

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            border-radius: 50%;
            background: $searchBgColor;
          }
        }

        .message-field {
          display: flex;
          width: 100%;
          margin: 0 14px;

          &.field-error {
            .message_input {
              box-shadow: 0 0 0 2px $errorColor;
              outline: none;
            }
          }

        }

        .message_input {
          width: 100%;
          height: 34px;
          padding: 0 20px;
          border-radius: 30px;
          border: none;
          background: $searchBgColor;
          transition: 0.2s;
          font-weight: 500;
          box-shadow: none;

          &:focus {
            box-shadow: 0 0 0 2px $mainColor;
            outline: none;
          }
        }

        button {
          background: none;
          padding: 0;
          transition: 0.2s;

          img {
            height: 34px;
            width: 34px;
          }

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
