<div class="nav-content">
  <h1>Страницы</h1>
  <nav>
    <ol>
      <li><a href="/auth">Авторизация</a></li>
      <li><a href="/reg">Регистрация</a></li>
      <li><a href="/chats">Список чатов</a></li>
      <li><a href="/profile">Профиль</a></li>
      <li><a href="/profile-edit">Профиль (редактирование)</a></li>
      <li><a href="/profile-password-edit">Профиль (редактирование пароля)</a></li>
      <li><a href="/error">Ошибка 404</a></li>
    </ol>
  </nav>
</div>
