<form class="profile-content__table">
  {{{OldPasswordField}}}
  {{{PasswordField}}}
  {{{PasswordConfirmField}}}
  <div class="profile-content__buttons">
    {{{SubmitButton}}}
  </div>
</form>
